<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cafeteria">

	<select id="loginCheck" resultType="String">
		SELECT * FROM TB_00_MEMBER
		WHERE USER_ID = #{userId}
		AND ADMIN_PW = #{adminPw}
	</select>
	<select id="memberInfo" resultType="com.school.web.vo.SchoolVO">
		SELECT
		MEMBER_NAME AS MEMBERNAME,
		USER_ID AS USERID,
		ADMIN_YN AS ADMINYN,
		ADMIN_PW AS ADMINPW
		FROM TB_00_MEMBER
		WHERE USER_ID = #{userId} AND ADMIN_PW = #{adminPw}
	</select>
	<!-- 전체게시글 수  -->
	<select id="countArticle" resultType="int">
		select count(*) from tb_06_rsi
		<include refid="search"></include>
	</select>
	<!-- 설문 리스트 -->
	<select id="researchList" resultType="com.school.web.vo.RSIVO">
 
  		<include refid="pagingheader"></include>
			select DENSE_RANK() over(order by ref)rank, a.* from(
			select b.* from tb_06_rsi b 
		<include refid="search"></include>
			)a order by suri_seq desc, step
		<include refid="pagingfooter"></include>
	</select>
	<!-- 페이징 윗부분-->
	<sql id="pagingheader">
	<![CDATA[
		select
		rnum,
		SURI_SEQ AS suriSeq, 
		SUR_TITLE AS surTitle, 
		SUR_SAT_DATE AS surSatDate, 
		SUR_END_DATE AS surEndDate, 
		CASE WHEN SUR_END_DATE < TO_CHAR(SYSDATE, 'YYYYMMDD') THEN '완료' ELSE '진행중' END AS surisend  from (
		select rownum rnum, r.* from (
	]]>
	</sql>
	<!-- 페이징 아랫부분 -->
	<sql id="pagingfooter">
		)r)where rnum between #{start} and #{end}
	</sql>
	<sql id="search">
		<choose>
			<when test="search_option == 'all'">
				where sur_title like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				where ${search_option} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>
	<!-- 글쓰기 저장  -->
	<insert id="researchRSI">
		insert into TB_06_RSI 
		(
			SURI_SEQ,
			SUR_TITLE,
			QUE_CNT,
			SUR_SAT_DATE,
			SUR_END_DATE,
			SURI_TITLE1,
			SURI_TITLE2,
			SURI_TITLE3,
			SURI_TITLE4,
			SURI_TITLE5,
			SURI_TITLE6,
			WRITER,
			REG_NAME,
			REG_DATE,
			UDT_NAME,
			UDT_DATE,
			SURI_NUM1,
			SURI_NUM2,
			SURI_NUM3,
			SURI_NUM4,
			SURI_NUM5
		) values (
			(SELECT NVL(MAX(to_number(SURI_SEQ)+1),1) FROM TB_06_RSI),
			#{surTitle},
			#{queCnt},
			#{surSatDate}, 
			#{surEndDate},
			#{suriTitle1},
			#{suriTitle2},
			#{suriTitle3},
			#{suriTitle4},
			#{suriTitle5},
			#{suriTitle6},
			#{writer}, #{regName}, sysdate, #{udtName}, sysdate
			,'1','2','3','4','5'
		)
	</insert>
    <update id="researchUpdate" parameterType="com.school.web.vo.RSIVO" >
    	UPDATE TB_06_RSI SET
		SUR_TITLE = #{surTitle},
		SUR_SAT_DATE  = #{surSatDate},
		SUR_END_DATE  = #{surEndDate},
		QUE_CNT  = #{queCnt},
		SURI_TITLE1  = #{suriTitle1},
		SURI_TITLE2  = #{suriTitle2},
		SURI_TITLE3  = #{suriTitle3},
		SURI_TITLE4  = #{suriTitle4},
		SURI_TITLE5  = #{suriTitle5},
		SURI_TITLE6  = #{suriTitle6},
		SURI_NUM1  = '1',
		SURI_NUM2  = '2',
		SURI_NUM3  = '3',
		SURI_NUM4  = '4',
		SURI_NUM5  = '5',
        WRITER = #{writer},
        REG_NAME = #{regName},
        REG_DATE = #{regDate},
        UDT_NAME = #{udtName},
        UDT_DATE = sysdate
		
		where SURI_SEQ = #{suriSeq}
    </update>
    <delete id="researchDelete" parameterType="com.school.web.vo.RSIVO">
    	DELETE TB_06_RSI WHERE SURI_SEQ = #{suriSeq}
    </delete>
    <select id="count" resultType="int">
    	SELECT COUNT(*) FROM TB_00_MEMBER
		WHERE USER_ID = #{userId} AND ADMIN_PW = #{adminPw}
    </select>
    
    <!-- 상세저장 -->
    <insert id="insert" >
	INSERT INTO TB_06_RSR (
        SURR_SEQ, SURI_SEQ, SURI_NUM, DESCRIPTION, WRITER,
        REG_NAME, REG_DATE, UDT_NAME, UDT_DATE, SURQ_TITLE
	   ) VALUES (
	   (SELECT NVL(MAX(TO_NUMBER(SURR_SEQ)+1),1)FROM TB_06_RSR),
	   #{suriSeq},
	   #{suriNum},
	   #{description} <!-- suriTitle7 사유-->,
	   #{writer},
	   #{regName},
	   #{regDate},
	   #{udtName},
	   SYSDATE,
	   #{surqTitle}   
	   )
    </insert>
    <resultMap type="com.school.web.vo.RSIVO" id="rsiMap">
    	<result column="SURI_SEQ" property="suriSeq"/>
    	<result column="SUR_TITLE" property="surTitle"/>
    	<result column="QUE_CNT" property="queCnt"/>
    	<result column="SURISEND" property="surIsend"/>
    	<result column="SUR_SAT_DATE" property="surSatDate"/>
    	<result column="SUR_END_DATE" property="surEndDate"/>
    	<result column="SURI_TITLE1" property="suriTitle1"/>
    	<result column="SURI_TITLE2" property="suriTitle2"/>
    	<result column="SURI_TITLE3" property="suriTitle3"/>
    	<result column="SURI_TITLE4" property="suriTitle4"/>
    	<result column="SURI_TITLE5" property="suriTitle5"/>
    	<result column="SURI_TITLE6" property="suriTitle6"/>
    	<result column="SURI_TITLE7" property="suriTitle7"/>
    	<result column="WRITER" property="writer"/>
    	<result column="REG_NAME" property="regName"/>
    	<result column="REG_DATE" property="regDate"/>
    	<result column="UDT_NAME" property="udtName"/>
    	<result column="SURI_NUM1" property="suriNum1"/>
    	<result column="SURI_NUM2" property="suriNum2"/>
    	<result column="SURI_NUM3" property="suriNum3"/>
    	<result column="SURI_NUM4" property="suriNum4"/>
    	<result column="SURI_NUM5" property="suriNum5"/>
    	
    	<association javaType="com.school.web.vo.RSRVO" property="rsrvo">
    		<id column="SURR_SEQ" property="surrSeq"/>
	    	<id column="SURI_SEQ" property="suriSeq"/>
	    	<result column="SURI_NUM" property="suriNum"/>
	    	<result column="DESCRIPTION" property="description"/>
	    	<result column="WRITER" property="writer"/>
	   		<result column="REG_NAME" property="regName"/>
	    	<result column="REG_DATE" property="regDate"/>
	    	<result column="UDT_NAME" property="udtName"/>
	    	<result column="SURQ_TITLE" property="surqTitle"/>
    	</association>
    </resultMap>
    <select id="researchDetail" resultMap="rsiMap" >
    <![CDATA[
 			select 
	    	A.SURI_SEQ,
			A.SUR_TITLE,
			A.SUR_SAT_DATE,
			A.SUR_END_DATE,
			A.QUE_CNT,
			CASE WHEN A.SUR_END_DATE < TO_CHAR(SYSDATE, 'YYYYMMDD') THEN '완료' ELSE '진행중' END AS surIsend, 
			A.SURI_TITLE1,
			A.SURI_TITLE2,
			A.SURI_TITLE3,
			A.SURI_TITLE4,
			A.SURI_TITLE5,
			A.SURI_TITLE6,
			A.SURI_TITLE7,
			A.SURI_NUM1,
			A.SURI_NUM2,
			A.SURI_NUM3,
			A.SURI_NUM4,
			A.SURI_NUM5,
			A.WRITER,
			A.REG_DATE,
			A.REG_NAME,
			A.UDT_NAME
		FROM TB_06_RSI A 
		WHERE A.SURI_SEQ = #{suriSeq}
		]]>
    </select>
    <select id="result" resultType="map"> 
    	SELECT  
    		A.SURI_SEQ as suriSeq,
    		B.SURR_SEQ as surrSeq,
			A.SUR_TITLE as surTitle,
			A.QUE_CNT as queCnt,
			B.SURQ_TITLE as surqTitle,
			B.SURI_NUM  as suriNum,
			A.SURI_TITLE1 as suriTltle1,
			B.DESCRIPTION as description,
			B.REG_NAME as regName,
			B.REG_DATE as regDate 
		FROM TB_06_RSI A left outer join TB_06_RSR B 
		on A.SURI_SEQ = B.SURI_SEQ 
		where A.SURI_SEQ = #{suriSeq} 
    </select>
</mapper> 
